
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <p class="navbar-brand" href="#">
      <img src="assets\images\job-posting-icon-22.png" alt="Logo" width="40" height="40"
        class="d-inline-block align-text-top">
      <u><b>nokari4U</b></u></p>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Enter your Job discription" aria-label="Search">
      <button class="btn btn-outline-success" type="submit"> Search</button>
    </form>
    <ul class="navigation">
      <li class="navigator"> <a routerLink="home">HOME</a></li>
      <li class="navigator"> <a routerLink="aboutus">ABOUT US</a></li>
      <li class="navigator"><a routerLink="#">JOBS</a></li>
      <li class="navigator"> <a routerLink="#">CLIENTS</a></li>
      <li class="navigator"><a routerLink="#">EMPLOYEES</a></li>
      <li class="navigator"> <a routerLink="#">CONTACT US</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>  



