
.navigation{
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigator{
    padding-left: 15px;
    padding-top: 15px;

}
.d-flex{
    flex: 0.8;
    color: lightblue;
    height: 35px;
    border-right: 0px;
}
